{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h4">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                    <p>Александров Андрей</p>
                    <p>создатель убийцы «ВКонтакте»</p>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Сам по себе Андрей мягкотелый и сомнительный человек. Его легко подчинить чужому влиянию,
                заставить сомневаться в своих действиях. Он сам и не замечает, как быстро его берет
                в плен праздная московская жизнь - разгульная и ветренная. Когда умирает отец Андрея,
                граф Александров, сын в наследство получает титул и все состояние, после чего общество моментально
                меняет к нему отношение. Мы ведь рассматриваем образ Андрея Александрова. Как на него повлияли эти события?
                Например, Василию Каругину не терпится выдать замуж за молодого человека Элен, свою дочь.
                Хотя Курагина можно назвать именитым и влиятельным человеком, связь с этой семьей для Андрея не принесла ничего хорошего,
                и брак оказался крайне несчастливым.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}