.git/*
env/
venv/
.venv
.venv/
.sent_emails
.sent_emails/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/

db.sqlite3

.vscode
.vscode/
vscode/

.sent_emails
.sent_emails/
sent_emails/

.posts/test_new.py
posts/test_new.py

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

tmpqpgy6hw4/
tmprnpcougf/
tmpwzqqbku3/
tmplpp8517h/
tmp3kjmc0tm/
.tmpqpgy6hw4
.tmprnpcougf
.tmpwzqqbku3
.tmplpp8517h
.tmp3kjmc0tm
tmpqpgy6hw4
tmprnpcougf
tmpwzqqbku3
tmplpp8517h
tmp3kjmc0tm

media/
.media