<div class="card mb-3 mt-1 shadow-sm">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "960x360" padding=True padding_color='#e3f2fd' upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
        </a>
        <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
        {% if post.group %}
        <a class="card-link muted" href="{% url 'group' post.group.slug %}">
          <strong class="d-block text-gray-dark"> в группе #{{ post.group.title }}</strong>
        </a>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
      </p>

      <!-- Отображение количества комментов -->
      <div class="d-flex justify-content-between align-items-center">
        {% if post.comments.exists %}
        <div style="color: grey">
            Комментариев: {{ post.comments.count }}
        </div>
        {% endif %}
      </div>
      <p><div class="btn-group">
        {% url 'post' post.author.username post.id as our_url %}
        {% if our_url not in request.path %}
        <a class="btn btn-sm btn-primary" href="{% url 'add_comment' post.author.username post.id %}" role="button">
          Добавить комментарий
        </a>
        {% endif %}
        <!-- Ссылка на редактирование поста для автора -->
        {% if user == post.author %}
        <a class="btn btn-sm btn-info" href="{% url 'post_edit' post.author.username post.id %}" role="button">
          Редактировать
        </a>
        {% endif %}
    </div>
    <div align='right'><small class="text-muted">{{ post.pub_date }}</small></div>
    </div>
  </div> 